#choiceWindow{
    display:none;
    position:absolute;
    top:25%;
    left:35%;
    width:450px;
    padding:20px;
    background:white;
    z-index:2;
    overflow: auto;
}
#backGround{
    display:none;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background: black;
    z-index: 1;
    -moz-opacity:0.8;
    opacity:0.8;
}
#x{
  float:right;
}
#x:hover{
    cursor: pointer;
}
.Login{
  position: relative;
    margin: 40px 30px;
}
.Login>.floor1>h4{
    font-weight: bold;
}
.Login>.floor1>span{
    position: absolute;
    top:5px;
    left:135px;
}
.Login  a{
    color:#29CDB5;
}
form{
    width:340px;
    height:238px;
    margin: 30px 0px;
}
.Login form input{
  width:340px;
  height:34px;
  padding:15px 5px;
}
.Login .input{
  width:253px;
  height:34px;
  padding:15px 15px;
  vertical-align: middle;
}
form .pwd input{
    width:13px;
    height:13px;
    margin-left: 175px;
}
.Login button{
    width:340px;
    height:34px;
    border:0;
    color:white;
    background: #29CDB5;
}
.Login span,.Login a,.Login label{
    font-size:14px;
}
.pwd{
    margin: 10px 0;
}
.span{
    width: 20%;
    margin-left: 2%;
    height: 40px;
    background: #B0B0B0;
    color: #fff;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid #797979;
    cursor: pointer;
    vertical-align:top
}
#Reg{
  display:none;
}