#slider{
  width:100%;
}
#slider>img{
  width:100%;
  display: none;
}
#slider>img.show{display:block;}
.content>ul:after{
  content:'';
  display:block;
  clear:both;
}
.second_floor{
  width:100%;
}
#introduce_body{
  /*width:1270px;
  margin:0 auto;*/
  position:relative;
  height:344px;
  margin-left:363px;
  margin-bottom: 60px;
}
#floor_left{
  margin-right: 10px;
  height:333px;
  overflow: hidden;
}
#content1,#content2,#content3,#content4,#content5,#content6{
  position: absolute;
}
.content{
  width:100%;
}

.content ul li{
   display:inline;
   margin-left: 55px;
  }
.content ul{
  width:1270px;
  height:110px;
  list-style: none; 
  margin: 20px auto;
}
.sdiv>a:hover{
  color:gray;
}
.sdiv>img{margin:10px 0;}
.sdiv{ 
text-align:center;
margin:25px 20px;
}
.d2{
  width:1270px;
  height:344;
  display:flex;
  margin: 0 auto;

}
.d3{
  background:#d1f1e8;
  position: relative;
  height:1170px;
  padding-left:125px;
}
.total1{
  margin: 10px 500px;
  padding:40px 0;
  
}
.shuoming1{
 float: left;
 font-size: 14px;
 margin: -105px 235px;

}
.total2{
  margin: 10px 500px;
  padding:40px 0;
  
}
.shuoming2{
 float: left;
 font-size: 14px;
 margin: -90px 195px;

}
.total3{
  margin: 10px 605px;
  padding:40px 0;
  
}
.shuoming3{
 float: left;
 font-size: 14px;
 margin: -90px 195px;

}
.total4{
  margin: 0px 270px;
  padding:40px 0;
  
}
.shuoming4{
 float: left;
 font-size: 14px;
 margin: -110px 275px;

}
.d3_content{
  width:1270px;
  margin: 0 auto;
}
.d3_content_bottom{
  position:relative;
  width:565px;
  height:190px;
  background: #38D3A8;
}
.d3_content_bottom_right{
  position: absolute;
  top:0px;
  left:275px;
  color:white;
}
.d3_content_bottom_right p{
  margin-top:5px;
  font-size: 14px;
  text-indent: 30px;
  display:-webkit-box;
  -webkit-box-orient:vertical;
  -webkit-line-clamp:5;
  overflow:hidden;
}
.d3_content_bottom_right h5{
  padding:0;
  margin:0;
  margin-top:10px;
  color:white;
  font-weight:bold;
}
.d3_content_bottom::before{
  content:'';
  display:table;
}
.d3_content_bottom_left{
  width:222px;
  /*height:130px;*/
  background: #fff;
  text-align: center;
  margin:25px;
}
.d3_content_bottom_left img{
  width:132px;
  height:132px;
}
.middle1{
  position:absolute;
  margin:0 240px;
}
.middle2{
  position:absolute;
  margin-left:815px;
}
.middle3{
  position:absolute;
  margin:455px 240px;
}
.middle4{
  position:absolute;
  margin:455px 815px;
}
.d4{padding-left:125px;}
.d4_content{
  width:1270px;
  height:1000px;
  position:relative;
  margin-left:191px;
}
.d4_content>ul>li{
  list-style:none;
  position:relative;
  float:left; 
  margin:5px;
}
.d4_content ul .d4_content_desc{
  width:270px;
}
.d4_content ul .d4_content_desc span{
  margin:0;
  padding:0;
  color:red;
  font-size:30px;
  font-weight:bold;
}
.p_all{
  font-size:14px;
}
.d_bottom{
  position: relative;
  width:100%;
}
.d5-floor1{
  position: relative;
  left: 370px;
}
.d5-floor1>img{
   width:272px;
   height:181px;
   margin: 0 50px;
 }
.d5-floor2{
    background:url("../img/bg-diwen.png");
    height:362px;
 }
 .d5-floor2 h5{
   color:#000;
   font-weight: bold;
 }
 .d5-floor2::after{
   content:'';
   display:block;
   clear:both
 }
 .d5all1,.d5all2,.d5all3{
   background:white;
   width:370px;
   height:281px;
   font-size:14px;
   color:gray;
   float:left;
   position: relative;
   left:320px;
   margin-left:20px;
   padding:20px 30px;
 }
 .d5-floor2 img{
  width:120px;
  height:80px;
  margin:0 95px;
}
.d6{
 width:1270px;
 height:715px;
 margin:0 auto;
 margin-bottom: 50px;
}
.d6_left{
 position:relative;
 float:left;
 height:500px;
}
.floor6_2{
    width:315px;
    position:relative;
    top:-135px;
    left:260px;
 }
.floor6_2 h3{
   position:absolute;
   top:15px;
   left:155px;	 
   color:gray;
 }
.floor6_2_1 p{
   color:gray;
   font-size:25px;	
   width:20px;
   height:35px;
   margin-top:20px;
 }
.floor6_2_1 span{
  display:block;
   width:160px;
   position:absolute;
   left:155px;
   top:60px;
   font-size:22px;
 }
 .floor6_2_2 p{
   position: absolute;
   top:130px;
   font-size:14px;
   color:gray;
 }
.floor6_2_3 img{
 width:195px;
 height:195px;
 position:absolute;
 top:265px;
} 
.floor6_2_3 p{
  position:absolute;
  top:435px;
}
.d6_right{
  width:576px;
  height:530px;
 float:left;
  position:relative; 
  left:200px;
}
.special{
 width:236px;
 float:right;
 margin:0px -10px;
}
.Picture{
 margin:0 120px;
}
.Picture1{
 
 margin: 60px -45px;
}
.uzou{
  width:100%;
}
.padding{
  width:1920px;
  margin:0 auto;
}
#choiceWindow{
    display:none;
    position:absolute;
    top:25%;
    left:35%;
    width:450px;
    padding:20px;
    background:white;
    z-index:2;
    overflow: auto;
}
#backGround{
    display:none;
    position:absolute;
    top:0%;
    left:0%;
    width:100%;
    height:100%;
    background: black;
    z-index: 1;
    -moz-opacity:0.8;
    opacity:0.8;
}
#x{
  float:right;
}
#x:hover{
    cursor: pointer;
}
.Login{
  position: relative;
    margin: 40px 30px;
}
.Login>.floor1>h4{
    font-weight: bold;
}
.Login>.floor1>span{
    position: absolute;
    top:5px;
    left:135px;
}
.Login  a{
    color:#29CDB5;
}
form{
    width:340px;
    height:238px;
    margin: 30px 0px;
}
.Login form input{
  width:340px;
  height:34px;
  padding:15px 5px;
}
.Login .input{
  width:253px;
  height:34px;
  padding:15px 15px;
  vertical-align: middle;
}
form .pwd input{
    width:13px;
    height:13px;
    margin-left: 175px;
}
.Login button{
    width:340px;
    height:34px;
    border:0;
    color:white;
    background: #29CDB5;
    margin-top:10px;
}
.Login span,.Login a,.Login label{
    font-size:14px;
    
}
.check{
  margin-top:70px;
}
.pwd{
    margin: 10px 0;
}
.span{
    width: 20%;
    margin-left: 2%;
    height: 40px;
    background: #B0B0B0;
    color: #fff;
    font-size: 10px;
    text-align: center;
    display: inline-block;
    border: 1px solid #797979;
    cursor: pointer;
    vertical-align:top
}
#Reg{
  display:none;
}





