.cprice{
    font-size:10px;
    color:black;
}
.Date{
   width:135px;
   height:40px;
   border:1px solid #ccc;
   background: url(../image/calendar.png);
   background-repeat: no-repeat;
   background-position: 100% 50%;
   position: relative;
   top:-31px;
   left:90px;
}

.choose{
    font-size:14px;
}
.menu1,.menu2{
    text-align: center;
    display:inline-block;
    width:26px;
    height:20px;
    line-height:20px;
    border:1px solid #ccc;
    cursor:pointer;
}
.menu1{
    margin:10px 5px;
}
.menu2{
   position: relative;
   top:9px;
   left:-35px;
}
.menu1{
    position: relative;
    top:-10px;
   
 }
 .xq{
     width:490px;
 }
.aa{
    display:inline-block;
    width:100px;
    height:37px;
    text-decoration: none;
    background: orange;
    color:#fff;
    font-weight: bold;
    text-align: center;
    line-height:37px;
    margin-top:10px;
}
#adult{
    position: relative;
    top:-30px;
    left:0px;
}
#DATE span{
    margin:15px -10px;
}
.input{
    display:inline-block;
    width:50px;
    height:40px;
    border:1px solid #cccccc;
    margin-left:72px;
    margin-right:-10px;
    text-align: center;
    line-height:40px;
}
#DATE{
    margin:30px 10px;
}
.tle{
    color:#76923C
}
.index{
    color:#EAB294
}
table{
    width:600px;
}
h6{
    font-weight:bold;
    font-size:14px;
    margin:5px 28px;
}
#dd{
    width: 300px;
}
#dt {
	margin: 30px auto;
	height: 28px;
	width: 200px;
	padding: 0 6px;
	border: 1px solid #ccc;
	outline: none;
}
#DD ul, #DD ol, #DD li {
	list-style: none;
	padding: 0;
	margin: 0;
}
#DD{
    width: 300px;
    position: absolute;
    margin-left:-677px;
}

